table, tr, th, td{
    border: 1px solid black; 
}

table {
    width: 400px;
}

.enlace{
    /*display: block;*/
    display: inline-block; /*Permite agregar propiedades en bloque como son width y height
    width: 300px;
    height: 100px;*/
    background-color: blue;
}

#bloque{
    text-align: center;
    background-color: red;
}