body{
    background-color: #D3D3D3;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    color: white;
    margin-left: 5px;
}

.titulo{
    background-color: #808080;
    margin-left: 40px;
    margin-right: 40px;
}

img{
    width: 200px;
    float: left;
}
.contenido{
    display: flex;
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: 14px;
    text-indent: 20px;
}

.rojo{
    color: red;
    font-style: italic;
}

.blanco{
    background-color: white;
    font-weight: 600;
}